.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 130px;
    left: 10px;
    background: #f7d9ab;
    overflow-x: hidden;
    padding: 8px 0;
}

.mainNav {
    margin-left: 140px;
    font-size: 28px;
    padding: 0px 10px;
}
