/*Importing Lib for us to gain access to the different fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Where we have out colors list and what the roles of those colors are */
:root {
    --primary-color: #f7d9ab;
    --secondary-color: #b094687e;
    --accent-color: #e78f3c;
    --background-color: #b09468;
    --text-color: #3131307e;
    --header-color: #0f0f0f;
    --link-color: #71c4eb;
    --link-hover-color: #e99fd3;
}

/*Stuff for the entire site, aka where the body and section tags are set*/
body {
    background-color: var(--secondary-color);
    color: var(--text-color);

    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

section {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/*Options for the link, including when those link buttons are hovered*/
a /*this is how the link tags are called*/ {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

/*Different settings for global headers (h1-h6) and the <p> tags*/
header {
    background-color: var(--header-color);
    font-family: 'Pacifico', sans-serif;
    padding: 15px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', sans-serif;
    padding: 5px 0;
    text-align: center;
}

p {
    color: var(--text-color);
    font-family: 'Georgia', sans-serif;
    text-align: center;
}

/*Navigation tag edits*/
nav {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000; /* Ensures it's on top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%; /* Ensure full width */
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}